body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

/*.link {*/
    /*stroke: #999;*/
    /*stroke-opacity: .6;*/
    /**/
/*}*/
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 4.5px;
}

circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

.nodelink {
    fill: none;
    stroke: #ccc;
    stroke-width: 4.5px;
}
.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.nodelink.inactive {
    /*stroke: red;*/
    opacity: 0;
}
.node.active {
  fill: red;
}
